<h1> Welcome to <%= @user.username %>'s page</h1>

<% if current_user.id == @user.id %>
Add a goal:
<form action="<%= goals_url %>" method="POST">

  <%= auth_token %>
  <p>
    <label>Goal Title
      <input type="text" name="goal[title]" value="<%= @goal.title %>">
    </label>
  </p>

  <p>
    <label>Private
      <input type="checkbox" name="goal[private]" value="true">
    </label>
  </p>

  <p>
    <label>Description (optional)
      <textarea name="user[password]"><%= @goal.description %></textarea>
    </label>
  </p>

  <input type="submit" value="Add Goal">
</form>
<% else %>
Add a Comment:
<form action="<%= user_comments_url %>" method="POST">

  <%= auth_token %>
  <p>
    <label>Comment
      <input type="text" name="comment[body]">
    </label>
  </p>

  <input type="hidden" name="comment[profile_id]" value="<%= @user.id %>">

  <input type="submit" value="Add Comment">
</form>
<% end %>

<p>
  Existing goals:
  <% @user.goals.each do |goal| %>
    <% unless goal.private && current_user.id != @user.id %>
      <li><a href="<%= goal_url(goal) %>">
        <%= goal.title  %></a>
        <% if goal.completed %>
        (Completed)
        <% elsif current_user.id == @user.id %>
        <form action="<%= goal_url(goal) %>" method="POST">
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="goal[completed]" value="true">
          <%= auth_token %>

          <input type="submit" value="Completed">
        </form>
        <% end %>
        <form action="<%= goal_url(goal) %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>

          <input type="submit" value="Remove">
        </form>
      </li>
      <br>
    <% end %>
  <% end %>
</p>

<p>
  Comments:
  <% @user.profile_comments.each do |comment| %>
      <li>
        <%= comment.body  %>
        <% if (current_user.id == comment.author_id) || (current_user.id == comment.profile_id) %>
        <form action="<%= user_comment_url(comment) %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>

          <input type="submit" value="Remove Comment">
        </form>
        <% end %>
      </li>
      <br>
  <% end %>
</p>
